*.iml
.gradle
/local.properties
.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/out
.externalNativeBuild
.cxx
.gradle/7.1.1/fileHashes/fileHashes.lock
local.properties
module/.cxx/cmake/debug/arm64-v8a/.ninja_deps
module/.cxx/cmake/debug/arm64-v8a/.ninja_log
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_command_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stderr_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stdout_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/build.ninja
module/.cxx/cmake/debug/arm64-v8a/build_command.txt
module/.cxx/cmake/debug/arm64-v8a/build_file_index.txt
module/.cxx/cmake/debug/arm64-v8a/build_model.json
module/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/rules.ninja
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/hook.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/backends/imgui_impl_android.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/backends/imgui_impl_opengl3.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_demo.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_draw.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_tables.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_widgets.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyArm64.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyMemory.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyScanner.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyUtils.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/MemoryBackup.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/MemoryPatch.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/main.cpp.o
module/.cxx/cmake/debug/arm64-v8a/compile_commands.json
module/.cxx/cmake/debug/arm64-v8a/compile_commands.json.bin
module/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_command.txt
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_stderr.txt
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_stdout.txt
module/.cxx/cmake/debug/arm64-v8a/prefab_config.json
module/.cxx/cmake/debug/arm64-v8a/symbol_folder_index.txt
.gradle/7.1.1/fileHashes/fileHashes.lock
local.properties
module/.cxx/cmake/debug/arm64-v8a/.ninja_deps
module/.cxx/cmake/debug/arm64-v8a/.ninja_log
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_command_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stderr_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stdout_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/build.ninja
module/.cxx/cmake/debug/arm64-v8a/build_command.txt
module/.cxx/cmake/debug/arm64-v8a/build_file_index.txt
module/.cxx/cmake/debug/arm64-v8a/build_model.json
module/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/rules.ninja
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/hook.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/backends/imgui_impl_android.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/backends/imgui_impl_opengl3.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_demo.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_draw.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_tables.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_widgets.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyArm64.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyMemory.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyScanner.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyUtils.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/MemoryBackup.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/MemoryPatch.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/main.cpp.o
module/.cxx/cmake/debug/arm64-v8a/compile_commands.json
module/.cxx/cmake/debug/arm64-v8a/compile_commands.json.bin
module/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_command.txt
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_stderr.txt
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_stdout.txt
module/.cxx/cmake/debug/arm64-v8a/prefab_config.json
module/.cxx/cmake/debug/arm64-v8a/symbol_folder_index.txt
out/magisk_module_debug/module.prop
out/magisk_module_debug/zygisk/arm64-v8a.so
out/ZyCheatsC-v1.0a (1.37.0.f2085)-debug.zip
out/magisk_module_debug/zygisk/arm64-v8a.so
out/magisk_module_debug/module.prop
module/.cxx/cmake/debug/arm64-v8a/symbol_folder_index.txt
module/.cxx/cmake/debug/arm64-v8a/prefab_config.json
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_stdout.txt
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_stderr.txt
module/.cxx/cmake/debug/arm64-v8a/metadata_generation_command.txt
module/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
module/.cxx/cmake/debug/arm64-v8a/compile_commands.json.bin
module/.cxx/cmake/debug/arm64-v8a/compile_commands.json
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/main.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/MemoryPatch.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/MemoryBackup.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyUtils.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyScanner.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyMemory.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/KittyMemory/KittyArm64.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_widgets.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_tables.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_draw.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui_demo.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/imgui.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/backends/imgui_impl_opengl3.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/ImGui/backends/imgui_impl_android.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/ZyCheatsC.dir/hook.cpp.o
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/rules.ninja
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
module/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
module/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
module/.cxx/cmake/debug/arm64-v8a/build_model.json
module/.cxx/cmake/debug/arm64-v8a/build_file_index.txt
module/.cxx/cmake/debug/arm64-v8a/build_command.txt
module/.cxx/cmake/debug/arm64-v8a/build.ninja
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stdout_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build_command_ZyCheatsC_arm64-v8a.txt
module/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
module/.cxx/cmake/debug/arm64-v8a/.ninja_log
module/.cxx/cmake/debug/arm64-v8a/.ninja_deps
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.1.1/fileHashes/fileHashes.lock
.gradle/7.1.1/fileHashes/fileHashes.bin
.gradle/7.1.1/executionHistory/executionHistory.lock
.gradle/7.1.1/executionHistory/executionHistory.bin
